# DNA files
*.gfa
*.fq
*.fq.*
*.fasta
*.fasta.*
*.fastq
*.fastq.*
*.fa
*.fa.*
*.fna
*.fna.*
*.bam
*.bam.*
*.sam
*.vcf
*.vcf.gz
*.saf*
*.beagle*
*.glf

# BIG files
*.ld
*.LD_blocks
*.gz
*.tsv
*.tsv.*
*.csv
*.csv.*
*.json
*.json.*
*.mafs
*.snpStat
*.hwe
*.geno
*.npy
*.sites
*.sites.txt
*.out
Fragmisincorporation_plot.pdf
dnacomp.txt
misincorporation.txt
*hiscore*
*out.weir.fst
*.bed
*PMD*
*recalibrationEM*
*qualityTransformation.txt

# Problem Files
*Rhistory


# Directories
dDocentHPC/
fltrVCF/
rad_haplotyper/
rroberts_thesis/
SPA*/
SPAdes*/
SPAdes_R1R2_noIsolate_decontam/
busco_c*/
busco_s*/
busco_d*/
*/logs/probes_ann*out
probes_ann*
rgsam/
GenErode_templatedir
docs/
workflow/
data/
reference/
modern/
historical/
results/
.snakemake/

# Block these specific large files
out_PCAngsd_selection_minMaf0.0_e80.selection.npy
out_PCAngsd_selection_minMaf0.0_e100.selection.npy

# Allow these files to be synced
!salarias_fasciatus/BAM_metrics/out_Sfa_ReadStats.tsv
!Sfa-ABas-CBas_all-GCF_902148845.1_fSalaFa1.1_chr1-23-mtgen_clmp_fp2_repr_fltrd.beagle.gz
!popmap*
!mkBGL.snpStat.gz
!Sfa-ABas-CBas_all_final.100k.snpStat
!test04.100k.snpStat
!*[Dd]ecode.tsv
!*ReadStats.tsv
